cffi==1.14.6
pyjwt
streamlit-aggrid
google-cloud-firestore
pycryptodome
Pyrebase
datacleaner
TPOT
pandasql
pandas_profiling
requests
html5lib
pandas
tabula_py
streamlit
sweetviz
streamlit_pandas_profiling
numpy
lazypredict
scikit-learn
tabula
